<div class="flex flex-row flex-auto">
  <div class="max-w-xs">
    <ng-select class="app-select" [items]="countries" bindLabel="country" bindValue="alpha2" autofocus [(ngModel)]="currentCountryCode"></ng-select>
    <input type="text" placeholder="Enter a city" (input)="onCityChange($event)" />
    <ul>
      <li class="cursor-pointer" *ngFor="let city of cities" (click)="onCitySelect(city)">{{ city.country }} - {{ city.name }}</li>
    </ul>
  </div>
  <div *ngIf="currentWeather">
    <cortex-weather-details [data]="currentWeather" [city]="currentCity"></cortex-weather-details>
  </div>
  <!-- <cortex-map *ngIf="currentCoordinates" [center]="currentCoordinates" ref="weather" (mapEvent)="onMapInitialized($event)"></cortex-map> -->
</div>
