/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.capitalize-first::first-letter {
  text-transform: capitalize;
}

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

*:focus {
  outline: none;
}
